/* @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.product-card {
  width: 270px;
  margin: 20px;
  padding: 10px;
  position: relative;
  background: #f9f9f9;
  border: 1.5px solid #325240;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
} */
/* .badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 25px;
  font-size: 13px;
  padding: 10px;
  border-radius: 50%;
  background: #f9f9f9;
  color: #325240;
  border: 1px solid #325240;
  z-index: 2;
  overflow: hidden;
  transform: scale(1);
}
.badge:hover {
  border: 3px solid #325240;
  transform: scale(1.01);
   box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); 
} 
.product-tumb {
  width: 100%;
  height: 270px;
  border-radius: 5%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #325240;
  overflow: hidden;
}

.product-tumb img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out; 
}
/* .product-tumb img:hover {
  transform: scale(1.5);
} */
/* 
.product-details {
  padding: 10px;
} */
/* .product-details h3 {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #325240;
  text-decoration: none;
  transition: 0.3s;
} */

/* .product-details h4 a:hover {
  color: #777267;
} */

/* .product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #325240;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 2px solid #325240;
  padding-top: 10px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
} */
